<div class="row">
    <div class="col-12">
        <div class="image">
            <img src="../../../assets/img/pilotes/allPilotes.jpg" class="img-responsive" style="width:50%"
                alt="La fine équipe" />
        </div>
    </div>
    <!--<div class="col-3">&nbsp;</div>
    <div class="col-8">
        <carousel [width]="400" [height]="600">
            <div class="carousel-cell" *ngFor="let image of images">
                <img src="{{image.path}}">
            </div>
        </carousel>
        -->
</div>