mat-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor:pointer;
    width:350px;
    height:200px;

    .image {
        
        .mat-card-image {
            margin:auto;
            object-fit: cover; /*this makes de image in src fit to the size of specified below*/
            width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
            height: 95%;
        }
    }
}