<div class="row">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource3" matSort>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Pilote</th>
        <td mat-cell *matCellDef="let element">
          <img src="{{ element.picto }}" style="width: 40px" alt="pilote" />
          <span
            ><b>&nbsp;{{ element.nom }}</b> &nbsp;<span
              ><img
                style="width: 20px"
                src="{{ element.drapeau }}"
                alt="drapeau"
              />
            </span>
            &nbsp;#{{ element.numero }}</span
          >
          <p class="team">{{ element.ecurie }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef>Points</th>
        <td mat-cell *matCellDef="let element">{{ element.points }}</td>
      </ng-container>

      <ng-container matColumnDef="victoires">
        <th mat-header-cell *matHeaderCellDef>Victoires</th>
        <td mat-cell *matCellDef="let element">{{ element.victoires }}</td>
      </ng-container>

      <ng-container matColumnDef="podium">
        <th mat-header-cell *matHeaderCellDef>Podium</th>
        <td mat-cell *matCellDef="let element">{{ element.podium }}</td>
      </ng-container>

      <ng-container matColumnDef="nbEtoiles">
        <th mat-header-cell *matHeaderCellDef>Etoiles</th>
        <td mat-cell *matCellDef="let element">{{ element.nbEtoiles }}</td>
      </ng-container>

      <ng-container matColumnDef="nbParticipations">
        <th mat-header-cell *matHeaderCellDef>Part.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nbParticipations }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pointLicence">
        <th mat-header-cell *matHeaderCellDef>Licence</th>
        <td mat-cell *matCellDef="let element">{{ element.pointLicence }}</td>
      </ng-container>

      <ng-container matColumnDef="restart">
        <th mat-header-cell *matHeaderCellDef>Restart</th>
        <td mat-cell *matCellDef="let element">{{ element.restart }}</td>
      </ng-container>

      <ng-container matColumnDef="varSubie">
        <th mat-header-cell *matHeaderCellDef>Var contre</th>
        <td mat-cell *matCellDef="let element">{{ element.varSubie }}</td>
      </ng-container>

      <ng-container matColumnDef="ratio">
        <th mat-header-cell *matHeaderCellDef>Points / Session</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ratio | number : "0.1-2" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
    </table>
  </div>
</div>

<br /><br />

<div class="row">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource2" matSort>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Pilote</th>
        <td mat-cell *matCellDef="let element">
          <img src="{{ element.picto }}" style="width: 40px" alt="pilote" />
          <span
            ><b>&nbsp;{{ element.nom }}</b> &nbsp;<span
              ><img
                style="width: 20px"
                src="{{ element.drapeau }}"
                alt="drapeau"
              />
            </span>
            &nbsp;#{{ element.numero }}</span
          >
          <p class="team">{{ element.ecurie }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef>Points</th>
        <td mat-cell *matCellDef="let element">{{ element.points }}</td>
      </ng-container>

      <ng-container matColumnDef="victoires">
        <th mat-header-cell *matHeaderCellDef>Victoires</th>
        <td mat-cell *matCellDef="let element">{{ element.victoires }}</td>
      </ng-container>

      <ng-container matColumnDef="podium">
        <th mat-header-cell *matHeaderCellDef>Podium</th>
        <td mat-cell *matCellDef="let element">{{ element.podium }}</td>
      </ng-container>

      <ng-container matColumnDef="nbEtoiles">
        <th mat-header-cell *matHeaderCellDef>Etoiles</th>
        <td mat-cell *matCellDef="let element">{{ element.nbEtoiles }}</td>
      </ng-container>

      <ng-container matColumnDef="nbParticipations">
        <th mat-header-cell *matHeaderCellDef>Part.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nbParticipations }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pointLicence">
        <th mat-header-cell *matHeaderCellDef>Licence</th>
        <td mat-cell *matCellDef="let element">{{ element.pointLicence }}</td>
      </ng-container>

      <ng-container matColumnDef="restart">
        <th mat-header-cell *matHeaderCellDef>Restart</th>
        <td mat-cell *matCellDef="let element">{{ element.restart }}</td>
      </ng-container>

      <ng-container matColumnDef="ratio">
        <th mat-header-cell *matHeaderCellDef>Points / Session</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ratio | number : "0.1-2" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
    </table>
  </div>
</div>

<br /><br />

<div class="row">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Pilote</th>
        <td mat-cell *matCellDef="let element">
          <img src="{{ element.picto }}" style="width: 40px" alt="pilote" />
          <span
            ><b>&nbsp;{{ element.nom }}</b> &nbsp;<span
              ><img
                style="width: 20px"
                src="{{ element.drapeau }}"
                alt="drapeau"
              />
            </span>
            &nbsp;#{{ element.numero }}</span
          >
          <p class="team">{{ element.ecurie }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef>Points</th>
        <td mat-cell *matCellDef="let element">{{ element.points }}</td>
      </ng-container>

      <ng-container matColumnDef="victoires">
        <th mat-header-cell *matHeaderCellDef>Victoires</th>
        <td mat-cell *matCellDef="let element">{{ element.victoires }}</td>
      </ng-container>

      <ng-container matColumnDef="podium">
        <th mat-header-cell *matHeaderCellDef>Podium</th>
        <td mat-cell *matCellDef="let element">{{ element.podium }}</td>
      </ng-container>

      <ng-container matColumnDef="nbEtoiles">
        <th mat-header-cell *matHeaderCellDef>Etoiles</th>
        <td mat-cell *matCellDef="let element">{{ element.nbEtoiles }}</td>
      </ng-container>

      <ng-container matColumnDef="nbParticipations">
        <th mat-header-cell *matHeaderCellDef>Part.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nbParticipations }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pointLicence">
        <th mat-header-cell *matHeaderCellDef>Licence</th>
        <td mat-cell *matCellDef="let element">{{ element.pointLicence }}</td>
      </ng-container>

      <ng-container matColumnDef="ratioParticipation">
        <th mat-header-cell *matHeaderCellDef>Points / Session</th>
        <td mat-cell *matCellDef="let element">
          {{ element.points / element.nbParticipations | number : "0.1-2" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
