/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

html,
body {
  height: 100%;
  
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: #000;
    color:white!important;
  /* background-image: url("./assets/img/logos/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
}
.app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
  
  }