  .ben-header-image {
      background-image: url('../../../assets/img/pilotes/ben-icon.jpg');
      background-size: cover;
  }

  .alex-header-image {
      background-image: url('../../../assets/img/pilotes/alex-icon.jpg');
      background-size: cover;
  }

  .greg-header-image {
      background-image: url('../../../assets/img/pilotes/greg-icon.jpg');
      background-size: cover;
  }

  .vlad-header-image {
      background-image: url('../../../assets/img/pilotes/vlad-icon.jpg');
      background-size: cover;
  }

  .cedrick-header-image {
      background-image: url('../../../assets/img/pilotes/cedrick-icon.jpg');
      background-size: cover;
  }
  .sibi-header-image {
    background-image: url('../../../assets/img/pilotes/sibi-icon.jpg');
    background-size: cover;
}
.mat-header-image {
    background-image: url('../../../assets/img/pilotes/mat-icon.jpg');
    background-size: cover;
}

  .mat-card-header {
      border-bottom: 1px solid #e10600;
  }

  .mat-card-content {
      border-top: 1px solid #e10600;
      padding-top: 1em;
  }

  mat-icon {
    align-self: center;
    color: #e10600;
  }