<div class="row">

    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="ben-header-image"></div>
                <mat-card-title>Ben Bruillon <mat-icon>star_half</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>McLaren F1 Team</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Ben.jpg" alt="Ben">
            <mat-card-content>
                <p>
                    Après sa P6 inespérée au classement pilote 2022, le brubru revient encore plus fort en 2023
                    en commencant la saison par une ? P5. Légère progression mais de la volonté, un beau sourire
                    et une bonne humeur envahissante. Daniel ricardo.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="alex-header-image"></div>
                <mat-card-title>Alex Monteiro <mat-icon> local_taxi</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Aston Martin Cognizant F1 Team</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Alex.jpg" alt="Alex">
            <mat-card-content>
                <p>
                    L'homme le plus disponible de l'année mais également le plus absent revient cette année et quelle première ! 
                    En une session, il a tout rafler (sauf les points). Recordman de l'action la plus assassine, Recordman
                    du nombre de VAR en une session et en un GP, Recordman du nombre de points perdus, bref un monstre.
                    Surtout, ne changez rien Mr Monteiro !
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="greg-header-image"></div>
                <mat-card-title>Grey Gooze <mat-icon>warning</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Scuderia AlphaTauri Honda</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Greg.jpg" alt="Greg">
            <mat-card-content>
                <p>
                    Une P4 décevante en 2022 alors qu'il avait le bronze entre les mains, l'abominable charo des montagnes 
                    commence la saison par une P4. Pas de progression mais une évolution tout de même car après
                    une année 2022 passée sous le signe de l'homophobie grace à ses, je cite, 
                    "<i>Les restarts c'est pour les gros pd</i>", voilà que Greg nous fait l'honneur de sortir un joli restart
                    et devient le 2ème gros PD de l'année. Se serait-il passé des choses durant l'intersaison ? L'avenir nous le dira. 
                </p>
            </mat-card-content>
        </mat-card>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="vlad-header-image"></div>
                <mat-card-title>Vlad Boenko <mat-icon>build</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Red Bull Racing Honda</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Vlad.jpg" alt="Vlad">
            <mat-card-content>
                <p>
                    Annoncé comme le plus gros bosseur de l'année 2022, il a finalement terminé l'année
                    comme le plus gros looser (tkt pas la rime). 
                    Souvent moqué par ses camarades, l'IA Vlad a marqué les esprits par ses "Coucouuuu", "Oh non non non non" ou encore ses
                    "Putain d'IA de merde" plutôt que par son pilotage.
                    On espère le voir revenir plus fort en 2023 car comme dit le célèbre dicton 
                    "<i>On apprend peu par la victoire, mais beaucoup par la défaite</i>"

                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="cedrick-header-image"></div>
                <mat-card-title>Cedrick Guerin <mat-icon> show_chart</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Scuderia Mission Winnow Ferrari</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Cedrick.jpg" alt="Cedrick">
            <mat-card-content>
                <p>
                    Fondateur du mouvement "Ragequit et boudin" puis rejoint par Monteiro et Vlad, il finit la saison avec 3 etoiles 
                    et une P3 arrachée sur le fil. L'avantage est qu'il est dispo tous les jours (sauf quand il y a Alban Ivanov) pour 
                    gueuler sur Ben et Vlad (poke). Il souhaite prendre sa revanche en 2023 et batailler pour la P2 même si ca va être compliqué
                    et que ca impliquera des coups de putes bien volontaires.

                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="sibi-header-image"></div>
                <mat-card-title>Jordan Sibinski <img src="../../../assets/img/pilotes/octopus.JPG" style="width:35px;">
                </mat-card-title>
                <mat-card-subtitle>Alfa Romeo Racing ORLEN</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Sibi.jpg" alt="Sibi">
            <mat-card-content>
                <p>
                    Une P2 et une étoile en 2022, mention honorable pour Sibi qui aura marqué la saison par son assassinat a Bahrein (les vrais sachent)
                    offrant l'étoile à son coéquipier de l'époque. 
                    Récompense du 1er gros pd de l'année 2023, on sent que sa saison démarre sur les chapeaux de roue. 
                    Au programme, plainte sur son positionnement sur la grille, ta mère leclerc et des 
                    victoires pour avoir un peu plus de bataille a l'avant du peloton.
                    Keep going mon Sib ! 
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="mat-header-image"></div>
                <mat-card-title>Mathias Dominici <img src="../../../assets/img/pilotes/goat.JPG" style="width:35px;">
                </mat-card-title>
                <mat-card-subtitle>Haas F1 Team</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Mat.jpg" alt="Mat">
            <mat-card-content>
                <p>
                   Il est beau, il est fort et il casse les couilles ! Comment résumer autrement notre GOAT national ? 
                   Il tue la F1 comme Verstappen et Redbull mais on l'aime quand même.
                   11 étoiles en 2022, déjà une première en 2023, c'est l'homme à abattre cette année même s'il faudra passer par 
                   des techniques illégales.
                   La seule progression possible étant de pouvoir parler dans son micro 22h30 passé mais ca c'est pas gagné. 
                   Bravo pour ton étoile Mathias ! 
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>