<div class="row">

    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="ben-header-image"></div>
                <mat-card-title>Ben Bruillon <mat-icon>star_half</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>McLaren F1 Team</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Ben.jpg" alt="Ben">
            <mat-card-content>
                <p>
                    Pilote anglo-hispano-français, capable du meilleur comme du pire notamment a Zandvoort avec un DT
                    qui lui coûtera le titre ce soir là. Il compte revenir parmi l'élite cette année et affiche des
                    ambitions à
                    la hauteur de sa beauté. Il remplacera Daniel Ricciardo et devra se montrer a la hauteur afin
                    d'atteindre les sommets avec l'écurie américaine
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="alex-header-image"></div>
                <mat-card-title>Alex Monteiro <mat-icon> local_taxi</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Aston Martin Cognizant F1 Team</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Alex.jpg" alt="Alex">
            <mat-card-content>
                <p>
                    Comme Neymar au PSG, il a accordé l'année dernière plus d'importance au poker qu'à ses performances
                    en
                    piste. Il reste malgré tout double champion du monde sur l'année écoulée et espère revenir au top de
                    sa forme après une année marquée sous le signe de l'absentéisme. Son rebond d'orgueil est attendu en
                    2022
                    car comme le soulignait Madame Rossignol, professeure de Français en 4èmeB, "Peut mieux faire"
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="greg-header-image"></div>
                <mat-card-title>Grey Gooze <mat-icon>warning</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Scuderia AlphaTauri Honda</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Greg.jpg" alt="Greg">
            <mat-card-content>
                <p>
                    Après avoir longuement hésité entre une carrière de portier et une carrière de pilote de F1,
                    Grey Gooze a choisi de combiner les deux métiers et de fermer les portes sur l'asphalte. Sextuple
                    champion
                    du monde en titre pour sa 1ère année dans le paddock il compte le dominer en 2022. Sa dernière
                    déclaration au micro de Canal + est
                    d'ailleurs très explicite "<i>Je vous encule </i>". Nul doute qu'il sera a l'origine de nombreux
                    accidents.
                </p>
            </mat-card-content>
        </mat-card>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="vlad-header-image"></div>
                <mat-card-title>Vlad Boenko <mat-icon>build</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Red Bull Racing Honda</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Vlad.jpg" alt="Vlad">
            <mat-card-content>
                <p>
                    Nouveau pilote ayant rejoint la F1 Racing Team en 2021, il a tout de suite pu démontrer ses qualités
                    au volant de sa Red Bull.
                    Pas toujours propre, pas toujours a l'arrivée, il a néanmoins fait preuve d'une grande disponibilité
                    et de détermination.
                    Annoncé récemment comme le plus grand bosseur de 2022, il compte faire taire ses détracteurs en
                    ajoutant plusieurs étoiles à son palmarès.
                    Pourquoi pas la 1ère en Hongrie comme BEBEWWW ?
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="cedrick-header-image"></div>
                <mat-card-title>Cedrick Guerin <mat-icon> show_chart</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Scuderia Mission Winnow Ferrari</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Cedrick.jpg" alt="Cedrick">
            <mat-card-content>
                <p>
                    Nouveau pilote de 2021 également, il a su s'adapter rapidement grâce à un coaching de qualité
                    délivré par le plus grand en début de saison.
                    Petit par la taille mais non par le talent, il n'a pas moins de deux étoiles dans sa vitrine pour sa
                    1ère année. Ses proches l'appellent
                    " Le leveur de malédiction Mercedes " ou encore " CS 86 " mais il reste humble et sait qu'il a tout
                    à prouver sur cette nouvelle saison pour
                    pourquoi pas devenir l'homme fort de 2022
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="sibi-header-image"></div>
                <mat-card-title>Jordan Sibinski <img src="../../../assets/img/pilotes/octopus.JPG" style="width:35px;">
                </mat-card-title>
                <mat-card-subtitle>Alfa Romeo Racing ORLEN</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Sibi.jpg" alt="Sibi">
            <mat-card-content>
                <p>
                    Jordan "Sibi" Sibinski, l'homme qu'on ne présente plus. Véritable machine à titres cette saison avec
                    autant d'étoiles qu'un poulpe a de tentacules,
                    il a su concurrencer et mettre la pression à l'homme fort du paddock. Malgré quelques prestations
                    décevantes, il n'en reste pas mois un pilote redoutable
                    peu importe la performance de sa monoplace. Le favori éternel du paddock sera de retour cette année
                    avec de nouvelles ambitions,
                    remporter le championnat global. Allez le foot !

                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top:0.5em;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="mat-header-image"></div>
                <mat-card-title>Mathias Dominici <img src="../../../assets/img/pilotes/goat.JPG" style="width:35px;">
                </mat-card-title>
                <mat-card-subtitle>Haas F1 Team</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/pilotes/Mat.jpg" alt="Mat">
            <mat-card-content>
                <p>
                    Last but not least, voici <b>LA</b> star du paddock ! La légende raconte que Schumacher se mets a
                    genoux devant lui et ses 8 titres
                    de champion du monde rien que cette année. Pilote incroyable aux talents multiples, il domine cette
                    saison
                    malgré son grand attachement à son écurie Haas. Légende vivante de ce sport, il fera tout pour
                    assoir sa
                    domination en 2022. Départ en inters, arrêt aux stands sous VSC, surconduite, bref, toutes les
                    surprises que l'on attend seront rendues
                    possibles grâce a cet homme. GOAT
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>