<div class="row">
    <div class="col-10">
        <mat-tab-group>
            <mat-tab label="Pilotes">
                <div class="col-12" style="margin-top: 3em;">
                    <mat-tab-group>
                        <mat-tab label="2023">
                            <div class="col-12" style="margin-top: 3em;">

                                <p> <img src="../../../assets/img/pilotes/mat-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Mathias Dominici :
                                    <span *ngFor="let item of [].constructor(18)">
                                        <mat-icon>star</mat-icon>
                                    </span> (18)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/sibi-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Jordan Sibinski:
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/alex-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Alex Monteiro :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/ben-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Ben Bruillon :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star_half</mat-icon>
                                    </span> (0)
                                </p>
                                <p> <img src="../../../assets/img/pilotes/cedrick-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Cedrick Guerin :
                                    <span *ngFor="let item of [].constructor(2)">
                                        <mat-icon>star</mat-icon>
                                    </span>(2)
                                </p>
                                <p> <img src="../../../assets/img/pilotes/greg-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Grey Gooze :
                                    <span *ngFor="let item of [].constructor(2)">
                                        <mat-icon>star</mat-icon>
                                    </span> (2)
                                </p>
                                <p> <img src="../../../assets/img/pilotes/vlad-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Vlad Boenko :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>
                            </div>
                        </mat-tab>
                        <mat-tab label="2022">
                            <div class="col-12" style="margin-top: 3em;">

                                <p> <img src="../../../assets/img/pilotes/mat-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Mathias Dominici :
                                    <span *ngFor="let item of [].constructor(12)">
                                        <mat-icon>star</mat-icon>
                                    </span> (12)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/sibi-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Jordan Sibinski:
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/alex-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Alex Monteiro :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/ben-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Ben Bruillon :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star_half</mat-icon>
                                    </span> (0)
                                </p>
                                <p> <img src="../../../assets/img/pilotes/cedrick-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Cedrick Guerin :
                                    <span *ngFor="let item of [].constructor(3)">
                                        <mat-icon>star</mat-icon>
                                    </span>(3)
                                </p>
                                <p> <img src="../../../assets/img/pilotes/greg-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Grey Gooze :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>
                                <p> <img src="../../../assets/img/pilotes/vlad-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Vlad Boenko :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>
                            </div>
                        </mat-tab>

                        <mat-tab label="2021">
                            <div class="col-12" style="margin-top: 3em;">

                                <p> <img src="../../../assets/img/pilotes/mat-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Mathias Dominici :
                                    <span *ngFor="let item of [].constructor(9)">
                                        <mat-icon>star</mat-icon>
                                    </span> (9)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/sibi-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Jordan Sibinski:
                                    <span *ngFor="let item of [].constructor(8)">
                                        <mat-icon>star</mat-icon>
                                    </span> (8)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/alex-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Alex Monteiro :
                                    <span *ngFor="let item of [].constructor(2)">
                                        <mat-icon>star</mat-icon>
                                    </span> (2)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/ben-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Ben Bruillon :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star_half</mat-icon>
                                    </span> (0.5)
                                </p>
                                <p> <img src="../../../assets/img/pilotes/cedrick-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Cedrick Guerin :
                                    <span *ngFor="let item of [].constructor(2)">
                                        <mat-icon>star</mat-icon>
                                    </span> (2)
                                </p>
                                <p> <img src="../../../assets/img/pilotes/greg-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Grey Gooze :
                                    <span *ngFor="let item of [].constructor(6)">
                                        <mat-icon>star</mat-icon>
                                    </span> (6)
                                </p>
                                <p> <img src="../../../assets/img/pilotes/vlad-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Vlad Boenko :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>
                            </div>
                        </mat-tab>
                        <mat-tab label="2020">
                            <div class="col-12" style="margin-top: 3em;">

                                <p> <img src="../../../assets/img/pilotes/mat-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Mathias Dominici :
                                    <span *ngFor="let item of [].constructor(15)">
                                        <mat-icon>star</mat-icon>
                                    </span> (15)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/sibi-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Jordan Sibinski:
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/alex-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Alex Monteiro :
                                    <span *ngFor="let item of [].constructor(7)">
                                        <mat-icon>star</mat-icon>
                                    </span> (7)
                                </p>

                                <p> <img src="../../../assets/img/pilotes/ben-icon.JPG" style="width:40px"
                                        alt="pilote" /> &nbsp;Ben Bruillon :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>
                            </div>
                        </mat-tab>


                    </mat-tab-group>
                </div>
            </mat-tab>
            <mat-tab label="Constructeurs">
                <div class="col-12" style="margin-top: 3em;">
                    <mat-tab-group>
                        <mat-tab label="2023">
                            <div class="col-12" style="margin-top: 3em;">

                                <p> <img src="../../../assets/img/teams/alfaromeo.JPG" style="width:60px"
                                        alt="pilote" /> &nbsp;Alfa Romeo Racing ORLEN :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>

                                <p> <img src="../../../assets/img/teams/ferrari.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Scuderia Mission Winnow Ferrari :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>

                                <p> <img src="../../../assets/img/teams/alphatauri.JPG" style="width:60px"
                                        alt="pilote" /> &nbsp;Scuderia AlphaTauri Honda :
                                    <span *ngFor="let item of [].constructor(4)">
                                        <mat-icon>star</mat-icon>
                                    </span> (4)
                                </p>

                                <p> <img src="../../../assets/img/teams/alpine.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Alpine F1 Team :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>
                                <p> <img src="../../../assets/img/teams/astonmartin.JPG" style="width:60px"
                                        alt="pilote" /> &nbsp;Aston Martin Cognizant F1 Team :
                                    <span *ngFor="let item of [].constructor(2)">
                                        <mat-icon>star</mat-icon>
                                    </span> (2)
                                </p>
                                <p> <img src="../../../assets/img/teams/haas.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Haas F1 Team :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>
                                <p> <img src="../../../assets/img/teams/mclaren.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;McLaren F1 Team :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>
                                <p> <img src="../../../assets/img/teams/mercedes.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Mercedes-AMG Petronas Formula One Team :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>
                                <p> <img src="../../../assets/img/teams/rb.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Red Bull Racing :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>
                                <p> <img src="../../../assets/img/teams/williams.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Williams Racing :
                                    <span *ngFor="let item of [].constructor(15)">
                                        <mat-icon>star</mat-icon>
                                    </span> (15)
                                </p>
                            </div>
                        </mat-tab>

                        <mat-tab label="2022">
                            <div class="col-12" style="margin-top: 3em;">

                                <p> <img src="../../../assets/img/teams/alfaromeo.JPG" style="width:60px"
                                        alt="pilote" /> &nbsp;Alfa Romeo Racing ORLEN :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>

                                <p> <img src="../../../assets/img/teams/ferrari.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Scuderia Mission Winnow Ferrari :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>

                                <p> <img src="../../../assets/img/teams/alphatauri.JPG" style="width:60px"
                                        alt="pilote" /> &nbsp;Scuderia AlphaTauri Honda :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>

                                <p> <img src="../../../assets/img/teams/alpine.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Alpine F1 Team :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>
                                <p> <img src="../../../assets/img/teams/astonmartin.JPG" style="width:60px"
                                        alt="pilote" /> &nbsp;Aston Martin Cognizant F1 Team :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>
                                <p> <img src="../../../assets/img/teams/haas.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Haas F1 Team :
                                    <span *ngFor="let item of [].constructor(2)">
                                        <mat-icon>star</mat-icon>
                                    </span> (2)
                                </p>
                                <p> <img src="../../../assets/img/teams/mclaren.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;McLaren F1 Team :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>
                                <p> <img src="../../../assets/img/teams/mercedes.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Mercedes-AMG Petronas Formula One Team :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>
                                <p> <img src="../../../assets/img/teams/rb.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Red Bull Racing :
                                    <span *ngFor="let item of [].constructor(0)">
                                        <mat-icon>star</mat-icon>
                                    </span> (0)
                                </p>
                                <p> <img src="../../../assets/img/teams/williams.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Williams Racing :
                                    <span *ngFor="let item of [].constructor(10)">
                                        <mat-icon>star</mat-icon>
                                    </span> (10)
                                </p>
                            </div>
                        </mat-tab>
                        <mat-tab label="2021">
                            <div class="col-12" style="margin-top: 3em;">

                                <p> <img src="../../../assets/img/teams/alfaromeo.JPG" style="width:60px"
                                        alt="pilote" /> &nbsp;Alfa Romeo Racing ORLEN :
                                    <span *ngFor="let item of [].constructor(5)">
                                        <mat-icon>star</mat-icon>
                                    </span> (5)
                                </p>

                                <p> <img src="../../../assets/img/teams/ferrari.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Scuderia Mission Winnow Ferrari :
                                    <span *ngFor="let item of [].constructor(4)">
                                        <mat-icon>star</mat-icon>
                                    </span> (4)
                                </p>

                                <p> <img src="../../../assets/img/teams/alphatauri.JPG" style="width:60px"
                                        alt="pilote" /> &nbsp;Scuderia AlphaTauri Honda :
                                    <span *ngFor="let item of [].constructor(4)">
                                        <mat-icon>star</mat-icon>
                                    </span> (4)
                                </p>

                                <p> <img src="../../../assets/img/teams/alpine.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Alpine F1 Team :
                                    <span *ngFor="let item of [].constructor(2)">
                                        <mat-icon>star</mat-icon>
                                    </span> (2)
                                </p>
                                <p> <img src="../../../assets/img/teams/astonmartin.JPG" style="width:60px"
                                        alt="pilote" /> &nbsp;Aston Martin Cognizant F1 Team :
                                    <span *ngFor="let item of [].constructor(3)">
                                        <mat-icon>star</mat-icon>
                                    </span> (3)
                                </p>
                                <p> <img src="../../../assets/img/teams/haas.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Haas F1 Team :
                                    <span *ngFor="let item of [].constructor(3)">
                                        <mat-icon>star</mat-icon>
                                    </span> (3)
                                </p>
                                <p> <img src="../../../assets/img/teams/mclaren.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;McLaren F1 Team :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>
                                <p> <img src="../../../assets/img/teams/mercedes.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Mercedes-AMG Petronas Formula One Team :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>
                                <p> <img src="../../../assets/img/teams/rb.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Red Bull Racing :
                                    <span *ngFor="let item of [].constructor(3)">
                                        <mat-icon>star</mat-icon>
                                    </span> (3)
                                </p>
                                <p> <img src="../../../assets/img/teams/williams.JPG" style="width:60px" alt="pilote" />
                                    &nbsp;Williams Racing :
                                    <span *ngFor="let item of [].constructor(1)">
                                        <mat-icon>star</mat-icon>
                                    </span> (1)
                                </p>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>