.mat-tab-label-content {
    color: white!important;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #e10600!important;
}

.mat-tab-label {
width:50%!important;
}

mat-icon {
    color: #e10600!important;
    align-self:center;
}